{% load static %}

<header class="navbar">
    <a href="/" class="brand">
        <img src="{% static 'images/logo.png' %}" alt="Savitha Hayag">

        <div class="brand-text">
            <div class="brand-name">SAVITHA HAYAG</div>
            <div class="brand-sub">CORE AI</div>
        </div>
    </a>

    <nav>
        <a href="/">Business</a>
        <a href="/thinklify/">Thinklify</a>
        <a href="/active-pilots/">Active Pilots</a>

        <a href="contact">Contact</a>
    </nav>
</header>